video 
{
	width:50%;
	height:50%;
	border:black solid 1px;
}
.video
{
	position:relative;
	width: 80%;
 overflow: hidden;
     margin: 1.1111111111em auto;
     display: flex;
     justify-content: center;

	cursor: pointer;
	

}

.title
{
	text-align:center;

  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

.textSec:hover
{
	color:orange;
	
}
.textHighlight
{
 font-family: 'Roboto', sans-serif;
     line-height: 1.9444444444;

}
#media-controls {
  background-color: rgba(1, 56, 56, 0.3);
  transform: translateY(80px);
  transition: all .3s;
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 10%;
  right: 0;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.bottom-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#progress-bar {
  width: 100%;
  flex-grow: 1;
  height:10px;
  margin-bottom: 6px;
}



.video:hover #progress-bar {
  height: 15px;
}
.video:hover #media-controls {
	/*opacity: .9;*/

	transform: translateY(100%) translateY(-45px);

  cursor: pointer;
	
}
#durtimetext,#curtimetext
{
	color:white;

	font-size: 15px;

}
.player
{
	width:80%;
}

.svg-screen
{
	margin:0 2px 0 8px;
}


#volume-bar {

	width:30%;
	margin-top: 1%;
	/*margin:0 8px 0 8px;*/
}

.play-svg,.muted-svg,.cc-svg,.vol-svg,.pause-svg,.svg-screen
{
	margin:0 4px 0 6px;
	fill:white;
	width:15px;
	height:15px;

}

.play-svg,.muted-svg,.cc-svg,.vol-svg,.pause-svg
{
	margin:0 4px 0 4px;
	fill:white;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 /* background: #3071a9;*/
 /*background: #000;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:white /*#367ebd*/;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
 /* background: #ffffff;*/
  cursor: pointer;
   margin-top: -5px;
}
 .playpause
 {
 	
    background-image:url("../images/f-play.png");
    background-repeat:no-repeat;
    width:20%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;

 }

input[type=range]::-webkit-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-webkit-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

    input[type=range]:focus::-webkit-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-webkit-ms-fill-upper {
    background: #ccc;
}


/****** TRANSCRIPT*******/
.container
{
	margin:0 auto;
	width:65%;
}
.textHighlight
{
	cursor: pointer;
}

/*************MEDIA QUERIES****************/
 @media (min-width: 769px) 
{



#volume-bar {
	width:15%;
	
}
.title
{
  font-size:30px;
}


 }

 @media (min-width: 1024px) 
{

.video:hover #media-controls {
	/*opacity: .9;*/
	transform: translateY(100%) translateY(-70px);
  cursor: pointer;
	
}
.title
{
  font-size:30px;
}

#media-controls {
	transform: translateY(35px);
}
#volume-bar {
	width:10%;
	/*margin:0 8px 0 8px;*/
}
.play-svg,.muted-svg,.cc-svg,.vol-svg,.pause-svg,.svg-screen
{
	margin:0 4px 0  4px;
	fill:white;
	width:30px;
	height:30px;
}



 }